
.order-details-container {
  .order-details-container__header-wrapper {
    margin-bottom: 20px;

    .order-details-container__header {
      display: inline;
    }

    .order-details-container__header-button {
    }
  }

  .order-details-container__order-details {
    margin: auto;
  }
}
