.material-items-container {
  .material-items-container__header-wrapper {
    margin-bottom: 20px;

    .material-items-container__header {
      display: inline;
    }

    .material-items-container__header-button {
    }
  }

  .material-items-container__material-items {
    margin: auto;
  }
}
