.order-container {
  .order-container__header-wrapper {
    margin-bottom: 25px;

    .order-container__header {
      display: inline;
    }

    .order-container__header-button {
      margin-top: -5px;
    }
  }

  .order-container__order {
    margin: auto;
  }
}
