.warehouse {
  .warehouse__content {
    .warehouse__header {
      display: inline !important;
      text-transform: uppercase;
    }
    .warehouse__header:hover {
      cursor: pointer;
    }

    .warehouse__icon {
      float: right !important;
    }
  }
}
