
.order-filter {
  .order-filter__modal-content {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    .order-filter__group {
      padding-bottom: 10px !important;
      .order-filter__dropdown {
        margin-top: 10px !important;
      }
    }
  }
}
